.container-popup {
  height: clamp(550px, 100%, 850px);
  width: clamp(300px, 90%, 500px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
  background-color: rgb(104, 28, 104);
  border-radius: 20px;
}

h1,
h2,
span {
  font-family: "PT sans", sans-serif;
  color: #e5f50a;
}

.x-close {
  height: 5%;
  width: 5%;

  border-radius: 50%;
  position: absolute;
  color: white;
  font-size: 200%;
  top: 30px;
  right: 10px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.imagem {
  height: clamp(100px, 50%, 300px);
  width: clamp(100px, 80%, 300px);

  margin-top: 20px;

  background-color: black;
}

.video {
  height: 40%;
  width: 70%;
  position: relative;
  margin-top: 5%;
  border: 2px solid black;
}

.video > iframe {
  height: 100%;
  width: 100%;
  position: relative;
}

.div-form {
  height: 50%;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.input {
  height: clamp(10px, 70%, 35px);
  width: clamp(100px, 70%, 500px);

  padding: 10px;
  border: 1px solid gray;
  border-radius: 7px 7px;
}

.div-select {
  height: clamp(10px, 70%, 35px);
  width: clamp(100px, 70%, 500px);

  padding: 10px;
  border: 1px solid gray;
  border-radius: 7px 7px;
  color: gray;
}

.check-box {
  width: clamp(100px, 70%, 500px);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.check-box > input {
  cursor: pointer;
}

.check-box > span {
  margin-left: 10px;
  font-size: 12px;
}

.error {
  border: 3px solid rgb(243, 7, 7);
}

.span-error {
  color: rgb(243, 7, 7);
}

.btn-save {
  height: clamp(20px, 60%, 30px);
  width: clamp(100px, 60%, 300px);

  border-radius: 7px;

  color: white;
  background-color: rgb(16, 116, 211);
  border: 2px solid rgb(10, 81, 146);
  cursor: pointer;
}

.btn-save:hover {
  background-color: rgb(44, 140, 230);
}

.btn-green {
  height: clamp(10px, 70%, 35px);
  width: clamp(100px, 70%, 500px);
  background-color: rgb(17, 202, 17);
}
